.header-container-tag {
    position: relative;
}

.header-container-tag > h1 {
    font-size: 7vw;
    font-family: "MonumentExtendedUltrabold";
    margin: 0;
}

.lineParent {
    overflow: hidden;
}

.lineParent .lineChildren {
    transform: translate(0, 500px);
}

@media (max-width: 700px) {
    .header-container-tag > h1 {
        font-size: 14vw;
    }
}