.outro > .outro_talk > h1 {
    font-size: 10vw;
}

.outro > div > h1 {
    margin: 0;
    font-size: 8vw;
}

.outro > .text > .connect {
    margin-bottom: 15%;
}

.outro {
    font-family: 'MonumentExtendedRegular';
    font-size: 4vw;
    /* color: white; */
    margin: 0 5%;
    letter-spacing: 2px;
}

h1 > .connect {
    display: inline-block;
    position: relative;
}

h1 > .connect::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: #F5EFE1;
    transform-origin: bottom right;
    transition: transform 0.55s ease-out;
}
  
h1 > .connect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1 > .connect > a {
    text-decoration: none;
    color: #F5EFE1;
}

em {
    color: #F5EFE1;
}

.outro .outro_talk {
    padding: 5% 0;
}

@media (max-width: 700px) {
    .outro > div > h1 {
        font-size: 8vw;
        text-align: center;
    }

    .outro .outro_talk {
        text-align: center;
        padding: 8% 0;
    }
}