.about-section {
    margin-left: 60%;
    margin-bottom: 6%;
}

.about-section .top{
    margin-top: 6%;
}

.about-section p {
    font-size: 1.5vw;
    font-family: 'MonumentExtendedRegular';
    margin: 0;
}

.about-section p > div {
    opacity: 0;
    transform: translateY(0px);
}
.about-section p.is-reveal {
    opacity: 1;
}

@media (max-width: 700px) {
    .about-section {
        margin-left: 50%;
        margin-top: 10%;
    }    

    .about-section p {
        font-size: 15px;
    }
}